<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Project Register
</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label>Project_Name</label>
            </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Description</label>
            </td>
            <td>
                <input type="text" name="description">
            </td>
        </tr>
        <tr>
            <td>
                <label>Assigned_Date</label>
            </td>
            <td>
                <input type="date" name="adate">
            </td>
        </tr>
        <tr>
            <td>
                <label>Deadline_Date</label>
            </td>
            <td>
                <input type="date" name="ddate">
            </td>
        </tr>

        <tr>

            <td>
                <input type="submit" value="register">
            </td>
        </tr>
    </table>
    <br>
    <table>
    <tr>
        <td>
            <a href="/projectassin/">Assin</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/projectstatus/">Project_Status</a>
        </td>
    </tr>
</table>
</form>
</body>
</html>