<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    register page
</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label>name</label>
            </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>
                <label>address</label>
            </td>
            <td>
                <input type="text" name="address">
            </td>
        </tr>
        <tr>
            <td>
                <label>username</label>
            </td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>
                <label>password</label>
            </td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <tr>

            <td>
                <input type="submit" value="register">
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr><td>
            <a href="/devlog/">User_Log_In</a>
        </td></tr>
        <tr><td>
            <a href="/tllog/">Tl_Log_In</a>
        </td></tr>
        <tr><td>
            <a href="/managerlog/">Manager_Log_In</a>
        </td></tr>

    </table>
</form>

</body>
</html>